.addProduct {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  background: var(--teal_900_b2);
  transition: all 0.3s ease-in-out;

  &:hover {
    background: var(--blue_gray_900);
  }
}
